<div class='tabbar' ng-hide='hidde'>
    <ul>
        <li ng-click='tabChange(0)'>
            <p><img src="images/tabbar/home_icon.png" alt=""></p>
            首页
        </li>
        <li ng-click='tabChange(1)'>
            <p><img src="images/tabbar/author_icon.png" alt=""></p>
            作者
        </li >
        <li ng-click='tabChange(2)'>
            <p><img src="images/tabbar/content_icon.png" alt=""></p>
            栏目
        </li>
        <li ng-click='tabChange(3)'>
            <p><img src="images/tabbar/my_icon.png" alt=""></p>
            我</li>
    </ul>
</div>